/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/*ПОДКЛЮЧЕНИЕ ШРИФТОВ*/

/*ПОДКЛЮЧЕНИЕ ШРИФТОВ*/
body{
   font-family: 'Montserrat', sans-serif;
   width:100%;
}
html {
overflow: scroll;
overflow-x: hidden;
 }
::-webkit-scrollbar {
width: 0px;  /* remove scrollbar space */
background: transparent;  /* optional: just make scrollbar invisible */
  }
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
 }
html{
   overflow-x: hidden;
}
.container{
   max-width: 1280px;
   margin: 0 auto;
}
h1{
   padding: 20px 0 20px 0;
   max-width: 240px;
   font-weight: 700;
   line-height: 1.5;
}
h3{
   padding-bottom: 10px;
}
.logo{
   max-width: 20%;
}
.head{
   text-align: center;
   padding-left: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #fff;
}
.telephone{
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.5;
      padding-right: 20px;
}
.telephone a{
   border: solid 2px #fff;
   border-radius: 10px;
   padding: 5px 10px 5px 10px;
   color: #fff;
}
.telephone a:hover{
   color: #ccbfbf;
}
header{
   background: #100703;
}
.banner-wrapper{
   background-image: url(..//img/fd69f5cbb4988220c160.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.banner{
   color: #fff;
   padding-left: 20px;
}
.banner h2{
   padding-top: 150px;
   max-width: 600px;
   font-weight: 700;
   font-size: 30px;
}
ul{
   padding: 40px 0 60px 0;
   font-weight: 600;
   font-size: 24px;
}
ul span{
   color: #0044FF;
}
ul li{
   padding-bottom: 10px;
}
.btn_popup{
   padding-bottom: 150px;
}
.btn{
   white-space: nowrap;
   font-size: 20px;
   padding: 20px;
   color: #ffffff;
    background-color: #003feb;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0%);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.btn:hover{
   background-color: #243e82;
   box-shadow: 0px 0px 5px 1px #000000;
   transition: box-shadow 0.2s;
}
.flex_box_inner{
   padding-top: 50px;
}
.flex_box_item{
   padding-top: 50px;
   background-color: #fff;
   max-width: 560px;
}
.img_24{
   background-image: url(..//img/24.jpg);
}
.img_103{
   background-image: url(..//img/103.jpg);
}
.img_155{
   background-image: url(..//img/155.jpg);
}
.img_195{
   background-image: url(..//img/195.png);
}
.img_130{
   background-image: url(..//img/130.jpg);
}
.img_245{
   background-image: url(..//img/245.jpg);
}
.img_314{
   background-image: url(..//img/314.png);
}
.img_76{
   background-image: url(..//img/76.jpg);
}
.img_01{
   background-image: url(..//img/01.jpg);
}

.img_24:hover{
   background-image: url(..//img/24-2.jpg);
}
.img_103:hover{
   background-image: url(..//img/103-2.jpg);
}
.img_155:hover{
   background-image: url(..//img/155-2.jpg);
}
.img_195:hover{
   background-image: url(..//img/195-2.png);
}
.img_130:hover{
   background-image: url(..//img/130-2.jpg);
}
.img_245:hover{
   background-image: url(..//img/245-2.jpg);
}
.img_314:hover{
   background-image: url(..//img/314-2.png);
}
.img_76:hover{
   background-image: url(..//img/76-2.jpg);

}
.img_01:hover{
   background-image: url(..//img/01-2.jpg);
}
.img_flex_box{
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
   width: 100%;
   height: 400px;
}
.flex_box_item h2{
   font-size: 24px;
   font-weight: 700;
   padding-top: 20px;
}
.flex_box_item h3{
   font-size: 13px;
   font-weight: 400;
   padding-top: 20px;
   height: 110px;
}
.item_flex_box_wrapper{
   padding-bottom: 40px;
}
.flex_box_inner_button{
   display: flex;
   flex-wrap: wrap;
}
.flex_box_item p{
   font-size: 13px;
   font-weight: 600;
   padding: 0;
}
.more{
   padding: 15px 40px 15px 40px;
   color: #ffffff;
    background-color: #003feb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-transform: uppercase;
     border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0%);
}
.more:hover{
   background-color: #243e82;
   box-shadow: 0px 0px 5px 1px #000000;
   transition: box-shadow 0.2s;
}
.price{
   white-space: nowrap;
   color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px 60px 15px 60px;
}
.price:hover{
   background-color: #fff;
   box-shadow: 0px 0px 5px 1px #000000;
   transition: box-shadow 0.2s;
}
.flex_box_inner{
   margin: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.price_wrapper{
   padding: 50px 0 0 0;
}
.more_wrapper{
   padding: 50px 20px 0 0;
}
.popup{
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0,0.8);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
}
.popup:target{
   opacity: 1;
   visibility: visible;
}
.popup_body{
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 10px;
}
.popup_content{
   border-radius: 20px;
   background-color: #fff;
   color: black;
   max-width: 400px;
   overflow: hidden;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.popup_content h2{
   text-align: center;
   font-weight: 700;
   font-size: 30px;
   padding-top: 40px;
}
.popup_content h3{
   text-align: center;
   font-weight:500;
   padding: 30px 0;
}
.popup_close{
   position: absolute;
   right: 10px;
   top: 10px;
   color: #000;
   font-size: 20px;
   text-decoration: none;
}
.popup_form{
   display: flex;
   flex-direction: column;
   max-width: 350px;
}
form{
   display: flex;
   flex-direction: column;
   max-width: 350px;
}
.popup_form input{
   padding: 10px;
   margin: 10px 0;
   border: solid 3px #c4c4c4;
   border-radius: 10px;
   width: 300px;
   height: 50px;
}
.popup_form_type{
   padding: 10px;
   margin: 10px 0;
   border: solid 3px #c4c4c4;
   border-radius: 10px;
   width: 300px;
   height: 50px;
}
.svarka{
   position: fixed;
}
.popup_form_button{
   margin-top: 10px;
   padding: 15px 0;
   text-align: center;
   border-radius: 10px;
   color: #fff;
   background-color: #000;
}
.popup_form_button:hover{
   background-color: #001;
   box-shadow: 0px 0px 5px 1px #000000;
}

.popup_final{
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0,0.8);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}
.popup_final:target{
   opacity: 1;
   visibility: visible;
}
.popup_final h3{
   padding: 20px 30px 10px 30px;
}
.popup_area{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.price_img{
   width: 100%;
   max-height: 150px;
}
.circle{
  color:#fff;
  font-weight: 600;
  margin-right: 10px;
  background: #003feb;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  max-width: 10px;
  max-height: 10px;
}
.why_choose_us_inner h3{
   font-weight: 600;
   font-size: 16px;
   margin-bottom: 5px;
}
.why_choose_us_inner h2{
   text-align: center;
   font-weight: 700;
   font-size: 30px;
   padding: 60px 0 100px 0;
}
.why_choose_us_flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.why_choose_us_flex_item{
   position: relative;
   max-width: 350px;
   margin-bottom: 100px;
}
.why_choose_us_flex_item{
   display: flex;
}
.why_choose_us_flex_item_text{
}
.why_shoose_us_wrapper{
   background-color: #EDEDED;
}
.measurer_call_wrapper{
   display: flex;
}

.working{
   text-align: center;
}
.working h2{
   font-size: 30px;
   font-weight: 700;
   padding: 100px 0 50px 0;
}
.working_flex{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding-bottom: 50px;
}
.working_flex_item{
   margin: 20px;
   position: relative;
   width: 290px;
   height: 350px;
   border: solid 1px #c4c4c4;
}

.working_flex_item h2{
   margin: 60px 10px 10px 10px;
   font-weight: 700;
   font-size: 20px;
   padding: 0;

}
.working_flex_item h3{
   margin: 10px ;
   font-size: 14px;

}
.working_flex_item p{
   color: #000;
   font-weight: 700;
}
.circle_working{
  position: absolute;
  top: -25px;
  left: 120px;
  color:#fff;
  background-color: #fff;
  border: solid 1px #000;
  font-weight: 600;
  margin-right: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  max-width: 10px;
  max-height: 10px;
}
footer{
   text-align: center;
}
footer a{
   text-decoration: none;
   color: #fff;
}
.footer_1{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #000;
   height: 300px;
   font-size: 20px;
   color: #fff;
}
.footer_2{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #111111;
   height: 100px;
   font-size: 20px;
   color: #fff;
}
.footer_1 h2{
   padding: 30px 0 10px 0;
}